body {
    background-color: #ecf0f1;
}

.header {
    display: flex;
    flex-direction: column;
   
}
.header img{
    width: 400px;
}
.header-img {
    align-items: flex-end; 
}

.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.header-title{
    text-align: center;
    font-size: 35px;
    font-weight: 500;
}

form{
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;  
}

form input {
    width: 300px;
    margin: 0 0 10px 0 ;
}

form button {
    background-color: #f1c40f;
    cursor: pointer;
    border-color: #f1c40f;
    width: 150px;
    font-weight: 1000;
    margin: 0 0 20px 0;
}

form button:hover {
    background-color: #f39c12;
}
.container-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 40px 0 0 0;
}

.details-header {
    font-size: 30px;
    font-weight: 500;
}

.video-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.iframe-video{
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0 0 50px 0;
}
.main-purchase-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    align-content: center;
    justify-content: center;
}
.purchase-container {
    /* display: flex;
    flex-direction: column; */
    width: 300px;
    height: 300px;
    border: 1px solid #111;
    margin: 0 10px 0 0;
}
.purchase-title {
    background-color: #bdc3c7;
    height: 40px;
}
.purchase-title h6, h2, p {
    text-align: center;
    margin-top: 5px;
}

.purchase-selecte-button{
    width: 600px;
}